@import "fonts";
@import "base";

.header {
  width: 100%;
  height: 88px;
}

.profile {
  .profile-content {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;
    .profile-content__info {
      margin-right: 16px;
      .profile-content__info-title {
        margin-bottom: 20px;
        font-weight: bold;
        font-size: 22px;
      }
      .profile-content__info-data {
        display: flex;
        .profile-content__info-data-avatar {
          display: block;
          margin-right: 16px;
          width: 88px;
          height: 88px;
          border-radius: 50%;
        }
        .profile-content__info-data-user {
          display: grid;
          grid-template-columns: repeat(2, auto);
          column-gap: 40px;
          row-gap: 8px;
          .profile-content__info-data-user-results {
            display: grid;
            grid-template-rows: repeat(3, 1fr);
            gap: 8px;
            .profile-content__info-data-user-results-item {
              font-weight: normal;
              line-height: 24px;
              opacity: 0.65;
            }
          }
          .profile-content__info-data-user-menu {
            display: grid;
            grid-template-rows: repeat(3, 1fr);
            gap: 8px;
            .profile-content__info-data-user-menu-item {
              line-height: 24px;
              color: #F3502F;
              cursor: pointer;
              &:hover {
                opacity: 0.9;
              }
              &:active {
                position: relative;
                top: 1px;
              }
            }
          }
        }
      }
    }
    .profile-content__statistics {
      position: relative;
      margin-top: 38px;
      overflow: hidden;
      .profile-content__statistics-items {
        display: grid;
        grid-template-rows: 131px;
        grid-template-columns: 182px 150px 135px;
        gap: 16px;
        overflow-x: auto;
        &::-webkit-scrollbar {
          width: 0;
        }
        .profile-content__statistics-item {
          background-color: rgba(255, 255, 255, 0.05);
          border-radius: 3px;
          padding: 24px 32px;
          .profile-content__statistics-item-number {
            font-weight: bold;
            font-size: 36px;
            line-height: 44px;
          }
          .profile-content__statistics-item-caption {
            font-weight: normal;
            line-height: 19px;
            opacity: 0.65;
          }
        }
      }
    }
  }
  .profile-separator {
    margin-top: 40px;
    width: 100%;
    height: 1px;
    background-color: white;
    opacity: 0.05;
  }
}

.table-games {
  margin-bottom: 64px;
  width: 100%;
  .table-games__title {
    margin-bottom: 24px;
    font-weight: bold;
    font-size: 22px;
    line-height: 33px;
  }
  .table-games__data {
    .table-games__data-captions, .table-games__data-item {
      display: grid;
      grid-template-columns: minmax(200px, 245px) 330px 124px minmax(140px, 224px) minmax(130px, auto);
    }
    .table-games__data-captions {
      padding-bottom: 8px;
      border-bottom: 3px solid rgba(255, 255, 255, 0.1);
      .table-games__data-captions-item {
        font-size: 14px;
        line-height: 21px;
        opacity: 0.65;
      }
    }
    .winner-item {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .cost-item {
      padding-left: 56px;
    }
    .table-games__data-item {
      padding: 15px 0;
      border-bottom: 1px solid rgba(255, 255, 255, 0.1);
      .table-games__data-item-title {
        margin-bottom: 8px;
        font-size: 14px;
        line-height: 21px;
        opacity: 0.65;
      }
      .mobile-item {
        display: none;
      }
      .table-games__data-item-players {
        display: flex;
        align-items: center;
        .table-games__data-item-players-avatar {
          width: 48px;
          height: 48px;
          border-radius: 50%;
          background-size: cover;
          .table-games__data-item-players-avatar-badge {
            position: relative;
            width: 24px;
            height: 24px;
            border: 4px solid #0B0B0B;
            border-radius: 50%;
            box-sizing: border-box;
          }
        }
        .first-player {
          .table-games__data-item-players-avatar-badge {
            left: 36px;
          }
        }
        .second-player {
          .table-games__data-item-players-avatar-badge {
            left: -12px;
          }
        }
        .placeholder {
          background: #353535;
        }
        .gold-badge {
          background-color: #F0D77E;
        }
        .silver-badge {
          background-color: #E1E1E1;
        }
        .table-games__data-item-players-caption {
          margin: auto 16px;
          font-weight: bold;
          font-size: 12px;
          line-height: 14px;
          letter-spacing: 0.05em;
          opacity: 0.65;
          text-transform: uppercase;
        }
      }
      .table-games__data-item-objects {
        display: flex;
        .table-games__data-item-objects-element {
          margin-right: 16px;
          width: 48px;
          height: 48px;
          background-repeat: no-repeat;
        }
        .table-games__data-item-objects-rest {
          position: relative;
          left: -8px;
          align-self: center;
          line-height: 19px;
          color: #F3502F;
        }
      }
      .objects-item {
        .objects-item__blue {
          background-image: url("images/blue-object.svg");
        }
        .objects-item__red {
          background-image: url("images/red-object.svg");
        }
        .objects-item__grey {
          background-image: url("images/grey-object.svg");
        }
        .objects-item__green {
          background-image: url("images/green-object.svg");
        }
        .objects-item__yellow {
          background-image: url("images/yellow-object.svg");
        }
      }
      .table-games__data-item-winner {
        width: 48px;
        height: 48px;
        border-radius: 50%;
        border: 3px solid rgba(255, 255, 255, 0.1);
        box-sizing: border-box;
      }
      .table-games__data-item-timer {
        position: relative;
        width: 48px;
        height: 48px;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -webkit-mask-image: -webkit-radial-gradient(white, black);
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #232323;
        overflow: hidden;
        &:before {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          width: 50%;
          height: 100%;
          z-index: 3;
          background-color: #232323;
          @include animation( mask-left 120s steps(1, end) forwards);
        }
        &:after {
          content: '';
          position: absolute;
          top: 0;
          right: 0;
          width: 50%;
          height: 100%;
          z-index: 3;
          background-color: #F3502F;
          @include animation( mask-right 120s steps(1, end) forwards);
        }
        .table-games__data-item-timer-body {
          position: relative;
          width: 42px;
          height: 42px;
          border-radius: 50%;
          background-color: #0B0B0B;
          overflow: hidden;
          text-align: center;
          z-index: 4;
          .table-games__data-item-timer-body-counter {
            font-size: 20px;
            display: flex;
            flex-direction: column;
            align-content: center;
            justify-content: center;
            height: 42px;
          }
        }
        .table-games__data-item-timer-line {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          border-radius: 50%;
          background-color: #232323;
          @include animation( line 120s linear forwards);
          overflow: hidden;
          z-index: 2;
          &:after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 50%;
            height: 100%;
            background-color: #F3502F;
          }
        }
      }
      .table-games__data-item-cost {
        height: 100%;
        display: flex;
        align-items: center;
        .table-games__data-item-cost-itog {
          padding: 8px;
          border-radius: 3px;
          background-color: rgba(243, 80, 47, 0.15);
          line-height: 19px;
          color: #F3502F;
          text-transform: uppercase;
          box-sizing: content-box;
        }
      }
      .table-games__data-item-buttons {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        .table-games__data-item-buttons-watch {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 48px;
          height: 48px;
          border-radius: 50%;
          background-color: rgba(255, 255, 255, 0.05);
          cursor: pointer;
          @include transition(all 0.3s ease);
          .table-games__data-item-buttons-watch-icon {
            width: 16px;
            height: 16px;
            background-image: url("images/icons/watch.svg");
            background-repeat: no-repeat;
            background-position: center;
          }
          &:hover {
            background-color: #F92015;
            @include transform(scale(1.1));
            .table-games__data-item-buttons-watch-icon {
              filter: brightness(100);
            }
          }
          &:active {
            position: relative;
            top: 1px;
          }
        }
        .table-games__data-item-buttons-play {
          margin-left: 24px;
          display: flex;
          padding: 14px 16px;
          background: linear-gradient(105.41deg, #F40000 6.56%, #FD472E 84.95%);
          border-radius: 3px;
          box-sizing: content-box;
          cursor: pointer;
          user-select: none;
          @include transition(all 0.3s ease);
          &:hover {
            @include transform(scale(1.1));
          }
          &:active {
            position: relative;
            top: 1px;
          }
          .table-games__data-item-buttons-play-icon {
            width: 16px;
            height: 16px;
            background-image: url("images/icons/play.svg");
            background-repeat: no-repeat;
            background-position: center;
          }
          .table-games__data-item-buttons-play-caption {
            margin-left: 8px;
            line-height: 19px;
          }
        }
      }
    }
  }
}

.future-games {
  .future-games-content {
    .future-games-content__new-game {
      width: 100%;
      height: 80px;
      margin: 40px 0;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 3px;
      background-color: rgba(255, 255, 255, 0.05);
      cursor: pointer;
      user-select: none;
      @include transition(all 0.3s ease);
      &:hover {
        background-color: #FF452C;
        box-shadow: 0 10px 45px rgba(255, 90, 67, 0.25);
        @include transform(scale(1.05));
        .future-games-content__new-game-caption {
          span {
            color: white;
            text-shadow: none;
          }
        }
      }
      &:active {
        position: relative;
        top: 1px;
      }
      .future-games-content__new-game-caption {
        display: flex;
        align-items: center;
        span {
          margin-right: 8px;
          font-size: 36px;
          color: #FF452C;
          border-radius: 3px;
          text-shadow: 0 5px 25px rgba(255, 90, 67, 0.5);
        }
      }
    }
    .future-games-content__table {
      .table-games__data {
        .item-1 {
          .first-player {
            background-image: url("images/avatar-1.png");
          }
        }
        .item-2 {
          .first-player {
            background-image: url("images/avatar-2.png");
          }
        }
        .item-3 {
          .first-player {
            background-image: url("images/avatar-3.png");
          }
        }
      }
    }
  }
}

.now-games {
  .now-games-content {
    .now-games-content__table {
      .table-games__data {
        .item-1 {
          .first-player {
            background-image: url("images/avatar-4.png");
          }
          .second-player {
            background-image: url("images/avatar-5.png");
          }
        }
        .item-2 {
          .first-player {
            background-image: url("images/avatar-6.png");
          }
          .second-player {
            background-image: url("images/avatar-1.png");
          }
        }
        .item-3 {
          .first-player {
            background-image: url("images/avatar-2.png");
          }
          .second-player {
            background-image: url("images/avatar-3.png");
          }
        }
        .item-4 {
          .first-player {
            background-image: url("images/avatar-5.png");
          }
          .second-player {
            background-image: url("images/avatar-6.png");
          }
        }
      }
    }
  }
}

.last-games {
  .last-games-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    .last-games-content__table {
      .table-games__data {
        .silver-winner {
          border: none;
          background-image: url("images/silver-winner.png");
          background-size: 48px;
          filter: drop-shadow(0px 5px 40px rgba(243, 80, 47, 0.35));
        }
        .gold-winner {
          border: none;
          background-image: url("images/gold-winner.png");
          background-size: 48px;
          filter: drop-shadow(0px 5px 40px rgba(232, 214, 126, 0.35));
        }
        .item-1 {
          .first-player {
            background-image: url("images/avatar-2.png");
          }
          .second-player {
            background-image: url("images/avatar-4.png");
          }
        }
        .item-2 {
          .first-player {
            background-image: url("images/avatar-5.png");
          }
          .second-player {
            background-image: url("images/avatar-3.png");
          }
        }
        .item-3 {
          .first-player {
            background-image: url("images/avatar-6.png");
          }
          .second-player {
            background-image: url("images/avatar-1.png");
          }
        }
        .item-4 {
          .first-player {
            background-image: url("images/avatar-4.png");
          }
          .second-player {
            background-image: url("images/avatar-5.png");
          }
        }
      }
    }
    .last-games-content__show {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 64px;
      cursor: pointer;
      .last-games-content__show-btn {
        margin-bottom: 16px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 48px;
        height: 48px;
        border-radius: 50%;
        background-color: rgba(255, 255, 255, 0.05);
        cursor: pointer;
        @include transition(all 0.3s ease);
        .last-games-content__show-btn-icon {
          margin-top: 4px;
          width: 16px;
          height: 16px;
          background-image: url("images/icons/arrow-bottom.svg");
          background-repeat: no-repeat;
          background-position: center;
        }
      }
      .last-games-content__show-caption {
        text-align: center;
        line-height: 24px;
        color: #F3502F;
      }
      &:hover {
        .last-games-content__show-btn {
          background-color: #F3502F;
          @include transform(scale(1.1));
          .last-games-content__show-btn-icon {
            filter: brightness(100);
          }
        }
        .last-games-content__show-caption {
          opacity: 0.9;
        }
      }
      &:active .last-games-content__show-btn{
        position: relative;
        top: 1px;
      }
    }
  }
}
.footer {
  width: 100%;
  height: 362px;
}
.modal {
  position: absolute;
  top: 0;
  z-index: 5;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  .modal-dialog {
    position: absolute;
    width: 90%;
    max-width: 800px;
    min-height: 500px;
    background: url("images/modal-back.png") 100%, linear-gradient(147.38deg, #121212 0%, #1D1D1D 0.01%, #0D0D0D 30.73%, #0D0D0D 50.52%, #0D0D0D 68.75%, #1D1D1D 100%);
    box-shadow: 0 0 100px rgba(0, 0, 0, 0.6);
    box-sizing: content-box;
    border-radius: 10px;
    .gold-player {
      width: 60px;
      height: 60px;
      border-radius: 50%;
      background-image: url("images/gold-winner.png");
      filter: drop-shadow(10px 10px 25px rgba(255, 175, 0, 0.4));
      background-size: 100%;
      margin: 0 auto;
    }
    .silver-player {
      width: 60px;
      height: 60px;
      border-radius: 50%;
      background-image: url("images/silver-winner.png");
      filter: drop-shadow(10px 10px 25px rgba(235, 64, 47, 0.4));
      background-size: 100%;
      margin: 0 auto;
    }
    .modal-dialog__close {
      position: absolute;
      top: 30px;
      right: 30px;
      width: 25px;
      height: 25px;
      background-image: url("images/icons/icon-close.svg");
      cursor: pointer;
      @include transition(all 0.3s ease);
      &:hover {
        @include transform(scale(1.2));
      }
      &:active {
        top: 31px;
      }
    }

    .modal-dialog__header {
      padding: 30px 65px;
      display: grid;
      grid-template-columns: 1fr auto 1fr;
      gap: 15px;
      align-items: center;
      justify-content: space-between;
      .mobile-item__modal {
        display: none;
      }
      .modal-dialog__header-info{
        display: grid;
        grid-template-columns: auto;
        gap: 15px;
        .modal-dialog__header-info-side {
          margin-bottom: 10px;
        }
        .modal-dialog__header-info-caption {
          position: relative;
          font-weight: 900;
          font-size: 18px;
          line-height: 22px;
          text-align: center;
          display: none;
        }
        .modal-dialog__header-info-nickname {
          position: relative;
          top: -5px;
          padding: 5px 7px;
          background: rgba(255, 255, 255, 0.05);
          border-radius: 5px;
          box-sizing: content-box;
          font-weight: normal;
          text-align: center;
          display: none;
        }
        .modal-dialog__header-info-item {
          display: flex;
          align-items: center;
          .modal-dialog__header-info-item-icon {
            margin-right: 15px;
            min-width: 22px;
            height: 20px;
            background-size: cover;
          }
          .modal-dialog__header-info-item-caption {
            font-weight: normal;
          }
        }
      }

      .modal-dialog__header-avatar{
        filter: drop-shadow(-30px 20px 50px rgba(255, 255, 255, 0.1));
        background-image: url("images/modal-avatar.png");
      }

      .modal-dialog__header-pending {
        display: flex;
        flex-direction: column;
        align-items: center;
        .modal-dialog__header-pending-identify {
          position: relative;
          width: 100px;
          height: 100px;
          border-radius: 50%;
          display: flex;
          align-items: center;
          justify-content: center;
          background-image: url("images/pending-identify.png");
          .modal-dialog__header-pending-avatar {
            width: 80px;
            height: 80px;
            border-radius: 50%;
            background-size: 80px;
            background-position: center;
            background-repeat: no-repeat;
            .modal-dialog__header-pending-timer {
              position: absolute;
              left: calc(50% - 17.5px);
              bottom: -20px;
              width: 35px;
              height: 30px;
              padding-top: 5px;
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: center;
              border-radius: 50%;
              background-color: #323232;
              font-weight: 900;
              font-size: 15px;
              text-align: center;

              span {
                position: relative;
                top: -3px;
                text-transform: uppercase;
                font-weight: 900;
                font-size: 9px;
                line-height: 10px;
                color: rgba(255, 255, 255, 0.5);
              }
            }
          }
        }

        .modal-dialog__header-pending-nickname {
          margin-top: 30px;
          padding: 5px 7px;
          background: rgba(255, 255, 255, 0.05);
          border-radius: 5px;
          box-sizing: content-box;
          font-weight: normal;
        }

        .modal-dialog__header-pending-caption {
          width: 100px;
          font-weight: 900;
          font-size: 18px;
          line-height: 22px;
          text-align: center;
        }
      }
    }

    .modal-avatar {
      justify-self: center;
      width: 250px;
      height: 250px;
      border-radius: 50%;
      border: 5px solid rgba(255, 255, 255, 0.3);
      box-sizing: border-box;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
    }

    .modal-dialog__content {
      padding: 30px 65px 65px 65px;
      display: flex;
      flex-direction: column;
      background: radial-gradient(50% 50% at 0% 50%, rgba(235, 64, 47, 0.4) 0%, rgba(235, 64, 47, 0) 100%) left, radial-gradient(50% 50% at 100% 50%, rgba(242, 242, 242, 0.2) 0%, rgba(242, 242, 242, 0) 100%) right;
      .modal-dialog__content-title {
        display: flex;
        align-items: center;
        margin-bottom: 15px;
        .modal-dialog__content-title-icon {
          margin-right: 15px;
          min-width: 27px;
          height: 25px;
          background-size: contain;
          background-repeat: no-repeat;
        }
        .modal-dialog__content-title-caption {
          font-weight: 900;
          font-size: 18px;
          line-height: 22px;
        }
      }

      .modal-dialog__content-objects {
        padding: 20px;
        height: 100%;
        border: 5px solid rgba(255, 255, 255, 0);
        border-image: url("images/border-table.png") 5 round round;
        box-sizing: border-box;
        border-radius: 15px;
        .modal-dialog__content-objects-list {
          display: grid;
          grid-template-rows: repeat(auto-fill, auto);
          gap: 15px;
          .modal-dialog__content-objects-list-item {
            display: flex;
            align-items: center;
            padding: 15px 30px;
            background: rgba(255, 255, 255, 0.05);
            border-radius: 5px;
            cursor: pointer;
            &:hover {
              background: rgba(255, 255, 255, 0.15);
            }
            &:active {
              position: relative;
              top: 1px;
            }
            .modal-dialog__content-objects-list-item-select {
              display: flex;
              align-items: center;
            }
            .modal-dialog__content-objects-list-item-checked {
              margin-right: 20px;
              width: 20px;
              height: 20px;
              border: 2px solid #515151;
              border-radius: 50%;
              display: flex;
              justify-content: center;
              align-items: center;
              .modal-dialog__content-objects-list-item-checked-icon {
                width: 18px;
                height: 18px;
                background-image: url("images/icons/icon-check.svg");
                background-size: 100%;
              }
            }

            .modal-dialog__content-objects-list-item-img {
              margin-right: 20px;
              width: 50px;
              height: 50px;
              background-image: url("images/modal-object.png");
              background-repeat: no-repeat;
              background-position: center;
              background-size: cover;
            }

            .modal-dialog__content-objects-list-item-caption {
              font-weight: 900;
              font-size: 24px;
            }

            .modal-dialog__content-objects-list-item-cost {
              display: flex;
              justify-content: flex-end;
              flex-grow: 1;

              .modal-dialog__content-objects-list-item-cost-icon {
                margin-right: 10px;
                width: 22px;
                height: 20px;
                background-size: cover;
              }

              .modal-dialog__content-objects-list-item-cost-caption {
                font-weight: normal;
                line-height: 25px;
              }
            }
          }
        }
      }
      .modal-dialog__content-player {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 70px 35px 0;
        .modal-dialog__content-player-avatar {
          position: relative;
          z-index: 6;
        }
        .modal-dialog__content-player-side {
          position: absolute;
          bottom: -25px;
          width: 60px;
          height: 60px;
        }
        .modal-dialog__content-player-info {
          position: relative;
          z-index: 6;
          padding: 30px 0 35px;
          .modal-dialog__content-player-info-item {
            display: flex;
            align-items: center;
            margin-top: 15px;
            &:first-child {
              margin-top: 0;
            }
            .modal-dialog__content-player-info-item-icon {
              width: 22px;
              height: 20px;
              background-size: cover;
            }
            .modal-dialog__content-player-info-item-caption {
              font-size: 16px;
              font-weight: normal;
            }
          }
        }
        .modal-dialog__content-player-wrapper {
          padding: 20px;
          height: 358px;
          background: rgba(255, 255, 255, 0.1);
          border-radius: 30px 30px 0 0;
          flex-grow: 1;
        }
        .modal-dialog__content-player-objects {
          border-radius: 10px;
          white-space: nowrap;
          width: 100%;
          height: 100%;
          overflow: auto;
          scrollbar-width: none;
          &::-webkit-scrollbar {
            width: 0;
          }
          .modal-dialog__content-player-objects-list {
            position: relative;
            display: grid;
            grid-template-rows: repeat(auto-fill, minmax(80px, auto));
            gap: 15px;
            .modal-dialog__content-player-objects-list-item {
              display: flex;
              align-items: center;
              padding: 15px;
              background: rgba(255, 255, 255, 0.05);
              border-radius: 15px;
              overflow: hidden;
              cursor: pointer;
              &:hover {
                background: rgba(255, 255, 255, 0.15);
              }
              &:active {
                position: relative;
                top: 1px;
              }
              .modal-dialog__content-player-objects-list-item-img {
                margin-right: 15px;
                width: 40px;
                height: 40px;
                background-image: url("images/modal-object.png");
                background-repeat: no-repeat;
                background-position: center;
                background-size: 100%;
              }
              .modal-dialog__content-player-objects-list-item-caption {
                white-space: normal;
                margin-bottom: 5px;
                font-weight: 900;
                font-size: 20px;
                line-height: 23px;
                color: rgba(255, 255, 255, 0.7);
              }
              .modal-dialog__content-player-objects-list-item-cost {
                display: flex;
                align-items: center;
                .modal-dialog__content-player-objects-list-item-cost-icon {
                  width: 22px;
                  height: 20px;
                  background-size: cover;
                  margin-right: 7px;
                }
                .modal-dialog__content-player-objects-list-item-cost-caption {
                  font-weight: normal;
                  color: rgba(255, 255, 255, 0.7);
                  font-size: 16px;
                }
              }
            }
          }
        }
      }
    }
    .modal-dialog__delimiter {
      .modal-dialog__delimiter-line {
        width: 5px;
        height: calc(100% + 30px);
        position: absolute;
        top: -30px;
        left: calc(50% - 5px);
        background-image: url("images/icons/modal-separator.svg");
      }
      .modal-dialog__delimiter-circle {
        position: absolute;
        top: 172px;
        left: calc(50% - 47px);
        width: 90px;
        height: 90px;
        border-radius: 50%;
        z-index: 6;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
    .modal-dialog__shadows {
      .modal-dialog__shadows-yellow {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: radial-gradient(50% 50% at 0% 50%, #FFAF00 0%, rgba(255, 175, 0, 0.427083) 57.29%, rgba(255, 175, 0, 0) 100%);
        opacity: 0.4;
      }
      .modal-dialog__shadows-red {
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        background: radial-gradient(50% 50% at 0% 50%, #FF1700 0%, rgba(251, 32, 10, 0.786458) 57.81%, rgba(251, 32, 10, 0.786458) 57.82%, rgba(235, 64, 47, 0) 100%);
        opacity: 0.2;
        transform: matrix(-1, 0, 0, 1, 0, 0);
      }
    }
    .first-player {
      .modal-dialog__content-player-avatar {
        background-image: url("images/modal-avatar.png");
      }
      .modal-dialog__content-player-side {
        left: -50px;
      }
      .modal-dialog__content-player-info-item-icon {
        margin-right: 20px;
      }
    }
    .second-player {
      .modal-dialog__content-player-avatar {
        background-image: url("images/pending-avatar.png");
      }
      .modal-dialog__content-player-side {
        right: -50px;
      }
      .modal-dialog__content-player-info-item {
        justify-content: flex-end;
      }
      .modal-dialog__content-player-info-item-icon {
        margin-left: 20px;
      }
    }

    .icon-player {
      background-image: url("images/icons/icon-player.svg");
    }

    .icon-object {
      background-image: url("images/icons/icon-object.svg");
    }

    .icon-cost {
      background-image: url("images/icons/icon-cost.svg");
    }
  }
}

.pending-game {
  display: none;
  background: linear-gradient(180deg, rgba(72, 235, 46, 0.28) 0%, rgba(40, 15, 12, 0) 100%);
  .modal-dialog__header-pending-avatar {
    background-image: url("images/pending-placeholder.png");
  }
  .modal-dialog__header-pending-caption {
    margin-top: 30px;
  }
}

.selecting-items {
  display: none;
  background: linear-gradient(180deg, rgba(231, 235, 46, 0.28) 0%, rgba(40, 15, 12, 0) 100%);
  .modal-dialog__header-pending-avatar {
    background-image: url("images/pending-avatar.png");
  }
  .modal-dialog__header-pending-caption {
    margin-top: 15px;
  }
}

.create-game {
  display: none;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.7) 0%, rgba(40, 15, 12, 0) 100%);
  .modal-dialog {
    .gold-player {
      filter: none;
      &:hover {
        filter: drop-shadow(10px 10px 25px rgba(255, 175, 0, 0.4));
      }
    }
    .silver-player {
      filter: none;
      &:hover {
        filter: drop-shadow(10px 10px 25px rgba(235, 64, 47, 0.4));
      }
    }
    .modal-dialog__header {
      display: flex;
      flex-direction: column;
      justify-content: center;
      .modal-dialog__header-condition {
        margin: 38px auto 30px auto;
        max-width: 260px;
        font-weight: normal;
        line-height: 24px;
        text-align: center;
        span {
          font-weight: bold;
        }
      }
      .modal-dialog__header-sides {
        display: flex;
        align-items: center;
        justify-content: space-between;
        .modal-dialog__header-sides-side {
          width: 100px;
          height: 100px;
          cursor: pointer;
          background-repeat: no-repeat;
          @include transition(all 0.3s ease);
          &:hover {
            @include transform(scale(1.1))
          }
          &:active {
            position: relative;
            top: 1px;
          }
        }
        .modal-dialog__header-sides-caption {
          margin: 0 40px;
          max-width: 100px;
          font-weight: 900;
          font-size: 18px;
          line-height: 21px;
          text-align: center;
          color: rgba(255, 255, 255, 0.5);
        }
      }
    }
    .modal-dialog__footer {
      height: 145px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-left: 45px;
      padding-right: 45px;
      margin: 0 65px;
      background: linear-gradient(90deg, rgba(32, 32, 32, 0.5) 0%, rgba(51, 51, 51, 0.5) 50%, rgba(32, 32, 32, 0.5) 100%);
      border-radius: 15px 15px 0 0;
      .modal-dialog__footer-objects, .modal-dialog__footer-cost {
        display: flex;
        align-items: center;
        .modal-dialog__footer-number {
          .modal-dialog__footer-number-icon {
            margin: 0 auto 12px auto;
            width: 33px;
            height: 30px;
            background-size: cover;
          }
          .modal-dialog__footer-number-caption {
            margin: 0 auto;
            font-weight: 900;
            font-size: 32px;
            line-height: 25px;
          }
        }
        .modal-dialog__footer-description {
          text-align: center;
          font-weight: normal;
          width: 50%;
          line-height: 22px;
          color: rgba(255, 255, 255, 0.3);
        }
      }
      .modal-dialog__footer-objects {
        .modal-dialog__footer-number {
          margin-right: 12px;
        }
      }
      .modal-dialog__footer-cost {
        justify-content: flex-end;
        .modal-dialog__footer-number {
          margin-left: 12px;
        }
      }
      .modal-dialog__footer-btn {
        position: relative;
        .modal-dialog__footer-btn-item {
          position: absolute;
          top: -70px;
          left: calc(50% - 50px);
          width: 100px;
          height: 100px;
          margin: 0 auto;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 50%;
          background: radial-gradient(50% 50% at 50% 50%, #D3402C 0%, #842525 100%);
          cursor: pointer;
          @include transition(all 0.3s ease);
          &:hover {
            @include transform(scale(1.1))
          }
          &:active {
            top: -65px;
          }
          .modal-dialog__footer-btn-item-icon {
            position: relative;
            top: 3px;
            left: 2px;
            width: 30px;
            height: 36px;
            background-image: url("images/icons/icon-create-game.svg");
            background-repeat: no-repeat;
            background-position: center;
            background-size: 100%;
          }
        }
        .modal-dialog__footer-btn-caption {
          width: 100px;
          margin-top: 50px;
          text-transform: uppercase;
          text-align: center;
          font-weight: bold;
          line-height: 22px;
        }
      }
    }
  }
}

.wait-start {
  display: none;
  background: linear-gradient(180deg, rgba(235, 148, 46, 0.28) 0%, rgba(40, 15, 12, 0) 100%);
  .modal-dialog {
    overflow: hidden;
    .modal-dialog__content {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: 100%;
      padding: 0;
      background: none;
    }
    .modal-dialog__delimiter-circle {
      background: radial-gradient(50% 50% at 50% 50%, #D3862C 0%, #583711 100%);
      box-shadow: 0 10px 60px rgba(255, 122, 0, 0.4);
      .modal-dialog__delimiter-circle-caption {
        position: relative;
        top: 2px;
        font-weight: 900;
        font-size: 41px;
        color: white;
        -webkit-text-stroke: 2px #6C441F;
      }
    }
  }
}

.fight {
  display: none;
  background: linear-gradient(180deg, rgba(235, 80, 46, 0.28) 0%, rgba(40, 15, 12, 0) 100%);
  .modal-dialog {
    overflow: hidden;
    .modal-dialog__content {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: 100%;
      padding: 0;
      background: none;
    }
    .modal-dialog__delimiter-circle {
      background: radial-gradient(50% 50% at 50% 50%, #D3362C 0%, #581111 100%);
      box-shadow: 0 10px 60px rgba(255, 46, 0, 0.4);
      .modal-dialog__delimiter-circle-caption {
        position: relative;
        top: 4px;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-weight: 900;
        font-size: 41px;
        -webkit-text-stroke: 2px #6C1F1F;
        span {
          position: relative;
          top: -10px;
          text-transform: uppercase;
          font-weight: 900;
          font-size: 18px;
          line-height: 21px;
          color: #E26767;
        }
      }
    }
  }
}

.finish-game {
  display: none;
  .modal-dialog {
    overflow: hidden;
    .modal-dialog__content {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: 100%;
      padding: 0;
      background: none;
    }
  }
}

.gold-winner__back {
  background: linear-gradient(180deg, rgba(255, 175, 0, 0.28) 0%, rgba(40, 15, 12, 0) 100%);
}

.silver-winner__back {
  background: linear-gradient(180deg, rgba(243, 80, 47, 0.245) 0%, rgba(40, 15, 12, 0) 100%);
}

@keyframes line {
  0% {
  }
  100% {
    transform: rotate(-360deg);
  }
}

@keyframes mask-left {
  0% {
    visibility: hidden;
  }
  50%,
  100% {
    visibility: visible;
  }
}

@keyframes mask-right {
  0% {
    visibility: visible;
  }
  50%,
  100% {
    visibility: hidden;
  }
}

@media (max-height: 1100px) {
  .pending-game, .selecting-items, .create-game{
    .modal-dialog {
      top: 40px;
    }
  }
}

@media (max-height: 900px){
  .wait-start, .fight, .finish-game {
    .modal-dialog {
      top: 40px;
    }
  }
}

@media (max-width: 1100px) {
  .table-games__data-item-buttons-play-caption {
    display: none;
  }
  .cost-item {
    padding-left: 16px !important;
  }
}

@media (max-width: 1078px) {
  .profile-content {
    justify-content: center !important;
    .profile-content__info {
      .profile-content__info-title {
        text-align: center;
      }
    }
  }
}

@media (max-width: 1000px) {
  .future-games, .now-games, .last-games {
    .fixed-size {
      padding: 0 !important;
    }
  }
  .future-games-content__new-game {
    margin: 40px 30px !important;
    width: auto !important;
  }
  .table-games__title {
    margin-left: 30px;
    text-align: center;
  }
  .table-games__data {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    .table-games__data-captions {
      display: none !important;
    }
    .table-games__data-item {
      padding: 27px 24px !important;
      border: none !important;
      justify-content: center;
      grid-template-columns: minmax(130px, 189px) minmax(100px, 411px) !important;
      grid-template-rows: repeat(3, 1fr);
      column-gap: 16px;
      row-gap: 24px;
      &:nth-child(odd) {
        background-color: #111111;
        background-size: 100vw;
        .table-games__data-item-timer-body {
          background-color: #111111 !important;
        }
      }
      .table-games__data-item-cost {
        height: auto !important;
      }
      .winner-item {
        text-align: right;
        align-items: flex-end !important;
        grid-row-start: 1;
        grid-column-start: 2;
      }
      .objects-item {
        grid-column: span 2;
      }
      .cost-item {
        padding-left: 0 !important;
      }
      .table-games__data-item-buttons-play-caption {
        display: inline;
      }
    }
  }
  .mobile-item {
    display: block !important;
  }
}

@media (max-width: 850px) {
  .modal-dialog__header {
    .modal-dialog__header-avatar {
      width: 200px !important;
      height: 200px !important;
    }
  }
}

@media (max-width: 768px) {
  .modal-dialog {
    .modal-dialog__close {
      top: -25px !important;
      right: 10px !important;
      width: 15px !important;
      height: 15px !important;
      background-size: cover;
    }
  }
  .pending-game, .selecting-items {
    .modal-dialog__header {
      grid-template-rows: repeat(2, auto);
      grid-template-columns: repeat(2, 1fr) !important;
      row-gap: 16px;
      .modal-dialog__header-avatar {
        width: 100px !important;
        height: 100px !important;
        border-width: 3px !important;
      }
      .modal-dialog__header-info {
        position: relative;
        top: -30px;
        grid-row-start: 2;
        grid-column-start: 1;
        padding: 0 !important;
        z-index: 6;
        justify-content: center;
        .mobile-hidden__modal {
          display: none !important;
        }
        .modal-dialog__header-info-side {
          margin-bottom: 0 !important;
          width: 35px;
          height: 35px;
        }
        .modal-dialog__header-info-nickname, .modal-dialog__header-info-caption {
          display: block !important;
        }
        .modal-dialog__header-info-item {
          text-align: center;
          justify-self: center;
          .modal-dialog__header-info-item-icon {
            display: none;
          }
        }
      }
      .modal-dialog__header-pending {
        align-self: flex-start;
        grid-row: span 2;
        .modal-dialog__header-pending-placeholder {
          width: 80px !important;
          height: 80px !important;
          background-size: cover;
        }
      }
    }
    .modal-dialog__content {
      padding-top: 0 !important;
    }
  }
  .pending-game {
    .modal-dialog__header-pending-caption {
      margin-top: 34px !important;
    }
    .modal-dialog__header-info-caption {
      top: -2px;
    }
    .modal-dialog__header-player-caption {
      margin-top: 12px;
    }
  }
  .selecting-items {
    .modal-dialog__header-player-caption {
      margin-top: 18px;
    }
    .modal-dialog__header-info-caption {
      top: -5px;
    }
  }
  .modal-dialog__content-objects {
    padding: 0 !important;
    border: none !important;
  }
  .wait-start, .fight, .finish-game {
    .modal-dialog {
      overflow: visible;
      .modal-dialog__shadows {
        .modal-dialog__shadows-yellow {
          border-radius: 10px;
          background: radial-gradient(70% 30% at 50% 0%, #FFAF00 0%, rgba(255, 175, 0, 0.427083) 57.29%, rgba(255, 175, 0, 0) 100%);
        }
        .modal-dialog__shadows-red {
          border-radius: 10px;
          background: radial-gradient(70% 30% at 50% 100%, #FF1700 0%, rgba(251, 32, 10, 0.786458) 57.81%, rgba(251, 32, 10, 0.786458) 57.82%, rgba(235, 64, 47, 0) 100%);
        }
      }
      .modal-dialog__delimiter {
        .modal-dialog__delimiter-line {
          display: none;
        }
        .modal-dialog__delimiter-circle {
          top: calc(50% - 45px);
          left: calc(50% - 45px);
        }
      }
      .modal-dialog__content {
        display: grid;
        grid-template-rows: repeat(2, 1fr) !important;
        grid-template-columns: 100% !important;
        gap: 100px;
        .modal-dialog__content-player {
          display: grid;
          grid-template-rows: repeat(2, auto);
          grid-template-columns: repeat(2, auto);
          align-items: center;
          padding: 0;
          .modal-dialog__content-player-avatar {
            width: 150px;
            height: 150px;
            min-height: 150px;
            border-width: 3px;
          }
          .modal-dialog__content-player-side {
            bottom: 0;
            right: 0 !important;
            left: 80% !important;
            width: 40px;
            height: 40px;
          }
          .modal-dialog__content-player-wrapper {
            margin: 20px 0;
            grid-column: span 2;
            height: 80px;
            padding: 10px;
            border-radius: 0;
            overflow-x: hidden;
          }
          .modal-dialog__content-player-objects {
            position: relative;
            height: 80px;
            overflow-x: auto;
            scrollbar-width: none;
            &::-webkit-scrollbar {
              height: 0;
            }
            .modal-dialog__content-player-objects-list {
              display: flex;
              gap: 10px;
              .modal-dialog__content-player-objects-list-item {
                position: relative;
                display: flex;
                flex-direction: column;
                min-width: 140px;
                align-items: center;
                padding: 10px;
                overflow: hidden;
                .modal-dialog__content-player-objects-list-item-img {
                  position: absolute;
                  top: 6px;
                  right: 6px;
                  margin-right: 0;
                }
                .modal-dialog__content-player-objects-list-item-caption {
                  width: 70%;
                  font-size: 14px !important;
                  line-height: 18px;
                }
              }
            }
          }
        }
        .first-player {
          margin-top: 20px;
        }
        .second-player {
          margin-bottom: 20px;
          .modal-dialog__content-player-wrapper {
            order: -1;
          }
          .modal-dialog__content-player-info-item {
            justify-content: flex-start;
          }
          .modal-dialog__content-player-info-item-icon {
            order: -1;
            margin-right: 20px;
            margin-left: 0;
          }
        }
      }
    }
  }
  .modal-dialog__content {
    .modal-dialog__content-objects-list-item {
      padding: 15px !important;
    }
  }
  .modal-dialog__footer {
    padding-right: 20px !important;
    padding-left: 20px !important;
  }
}

@media (max-width: 700px) {
  .create-game .modal-dialog {
    grid-template-rows: auto minmax(200px, auto) 120px !important;
    .modal-dialog__content-objects-list-item {
      .modal-dialog__content-objects-list-item-caption {
        font-size: 18px !important;
      }
    }
  }
  .modal-dialog__header-sides-side {
    width: 70px !important;
    height: 70px !important;
  }
  .modal-dialog__header-sides-caption {
    margin: 0 20px !important;
  }
  .modal-dialog__footer-description {
    display: none;
  }
  .modal-dialog__footer {
    padding-right: 45px !important;
    padding-left: 45px !important;
  }
}

@media (max-width: 660px) {
  .modal-dialog__content-objects-list-item {
    .modal-dialog__content-objects-list-item-caption {
      font-size: 18px !important;
    }
  }
}

@media (max-width: 590px) {
  .profile-content__info-data-user {
    grid-template-columns: 1fr !important;
  }
  .modal-dialog__content-player-objects-list-item-cost-caption {
    font-size: 12px !important;
  }
  .pending-game, .selecting-items{
    .modal-dialog {
      .modal-dialog__content {
        .modal-dialog__content-objects {
          .modal-dialog__content-objects-list-item {
            position: relative;
            flex-direction: column;
            align-items: flex-start !important;

            .modal-dialog__content-objects-list-item-img {
              position: absolute;
              top: 15px;
              right: 15px;
              margin-right: 0 !important;
            }

            .modal-dialog__content-objects-list-item-cost {
              margin-top: 4px;
              justify-content: flex-start !important;
              flex-grow: 0 !important;
            }

            .modal-dialog__content-objects-list-item-caption {
              width: 70%;
            }
          }
        }
      }
    }
  }
  .create-game {
    .modal-dialog__content {
      .modal-dialog__content-objects {
        .modal-dialog__content-objects-list-item {
          position: relative;
          flex-direction: column;
          flex-wrap: wrap;
          align-items: flex-start !important;
          .modal-dialog__content-objects-list-item-select {
            position: absolute;
            top: 15px;
            bottom: 30px;
            right: 15px;
            height: 75px;
            display: flex;
            flex-direction: column-reverse;
            justify-content: space-between;
            .modal-dialog__content-objects-list-item-checked {
              margin-right: 0 !important;
            }
            .modal-dialog__content-objects-list-item-img {
              margin-right: 0 !important;
              width: 30px !important;
              height: 30px !important;
            }
          }
          .modal-dialog__content-objects-list-item-cost {
            margin-top: 10px;
            justify-content: flex-start !important;
            flex-grow: 0 !important;
          }
          .modal-dialog__content-objects-list-item-caption {
            width: 150px;
          }
        }
      }
    }
  }
}

@media (max-width: 560px) {
  .profile {
    .fixed-size {
      padding-right: 0 !important;
      padding-left: 0 !important;
      .profile-content__info {
        margin: 0 30px;
      }
    }
  }
  .table-games__data-item-buttons-play-caption {
    display: none !important;
  }
}

@media (max-width: 520px) {
  .profile-content__statistics-items {
    padding-left: 30px;
    justify-content: flex-start !important;
  }
  .create-game {
    .modal-dialog__header {
      padding: 30px !important;
    }
    .modal-dialog__content {
      padding: 30px 30px 65px !important;
    }
  }
  .modal-dialog__footer {
    margin: 0 30px !important;
  }
}

@media (max-width: 470px) {
  .pending-game, .selecting-items {
    .modal-dialog__header {
      padding: 30px !important;
    }
    .modal-dialog__content {
      padding: 0 30px 65px !important;
    }
  }
}

@media (max-width: 450px) {
  .table-games__data {
    grid-template-columns: repeat(auto-fit, minmax(250px, auto));
  }
  .modal-dialog__footer-number-icon {
    margin-bottom: 6px !important;
  }
  .modal-dialog__footer-number-caption {
    font-size: 24px !important;
  }
  .modal-dialog__footer-btn-caption {
    width: 100px !important;
  }
  .modal-dialog__content-player-info-item-icon {
    width: 20px !important;
    height: 18px !important;
    margin-right: 10px !important;
  }
  .modal-dialog__content-player-info-item-caption {
    font-size: 14px;
  }
}

@media (max-width: 420px) {
  .modal-dialog__footer {
    padding-right: 20px !important;
    padding-left: 20px !important;
  }
  .pending-game, .selecting-items {
    .modal-dialog__content-objects-list-item-img {
      width: 30px !important;
      height: 30px !important;
    }
  }
  .wait-start, .fight, .finish-game {
    .modal-dialog {
      .modal-dialog__content {
        .modal-dialog__content-player {
          .modal-dialog__content-player-avatar {
            width: 80px;
            height: 80px;
            margin-right: 10px;
            min-height: 80px;
          }
          .modal-dialog__content-player-side {
            width: 30px;
            height: 30px;
          }
        }
      }
    }
  }
}

@media (max-width: 380px) {
  .mobile-hidden {
    display: none;
  }
  .modal-dialog__header-sides-side {
    width: 50px !important;
    height: 50px !important;
  }
  .modal-dialog__content-title-caption {
    max-width: 220px;
  }
}

@media (max-width: 360px) {
  .table-games__data-item-title {
    font-size: 12px !important;
  }
  .table-games__data-item-players-caption {
    margin: auto 8px !important;
  }
  .table-games__data-item-players-avatar {
    width: 36px !important;
    height: 36px !important;
    .table-games__data-item-players-avatar-badge {
      width: 18px !important;
      height: 18px !important;
    }
  }
  .first-player {
    .table-games__data-item-players-avatar-badge {
      left: 28px !important;
    }
  }
  .second-player {
    .table-games__data-item-players-avatar-badge {
      left: -10px !important;
    }
  }
  .table-games__data-item-objects-element {
    margin-right: 8px !important;
  }
  .table-games__data-item-winner, .table-games__data-item-timer {
    width: 36px !important;
    height: 36px !important;
    .table-games__data-item-timer-body {
      width: 30px !important;
      height: 30px !important;
      .table-games__data-item-timer-body-counter {
        height: 30px !important;
        font-size: 14px !important;
      }
    }
  }
  .table-games__data-item-buttons-play {
    margin-left: 8px !important;
  }
}

@media (max-width: 340px) {
  .profile-content__info-data-user-results-item, .profile-content__info-data-user-menu-item {
    font-size: 14px !important;
    line-height: 20px;
  }
  .table-games__data-item {
    column-gap: 0 !important;
    row-gap: 8px !important;
  }
  .modal-dialog__footer-number-icon {
    width: 28px !important;
    height: 25px !important;
    margin-bottom: 2px !important;
  }
  .modal-dialog__footer-number-caption {
    font-size: 14px !important;
  }
  .modal-dialog__content-player-info-item-caption {
    font-size: 14px !important;
  }
  .wait-start, .fight, .finish-game {
    .modal-dialog {
      .modal-dialog__content {
        gap: 80px;
      }
      .modal-dialog__delimiter {
        .modal-dialog__delimiter-circle {
          top: calc(50% - 30px);
          left: calc(50% - 30px);
          width: 60px !important;
          height: 60px !important;
        }
      }
    }
  }
  .fight {
    .modal-dialog__delimiter-circle-caption {
      font-size: 30px !important;
      span {
        font-size: 16px !important;
        line-height: 18px !important;
      }
    }
  }
  .wait-start {
    .modal-dialog__delimiter-circle-caption {
      top: 0 !important;
      font-size: 30px !important;
    }
  }
}

@media (max-width: 300px) {
  .profile-content__info-data-user-results, .profile-content__info-data-user-menu {
    gap: 4px !important;
  }
  .profile-content__info-data-user-results-item, .profile-content__info-data-user-menu-item {
    font-size: 10px !important;
    line-height: 16px !important;
  }
  .table-games__data {
    .table-games__data-item {
      grid-template-rows: repeat(4, 1fr) !important;
      .winner-item {
        text-align: left !important;
        align-items: flex-start !important;
        grid-row-start: 2 !important;
        grid-column-start: 1 !important;
        grid-column: span 2;
      }
      .table-games__data-item-title {
        font-size: 10px !important;
      }
      .table-games__data-item-buttons {
        padding-right: 24px;
        .table-games__data-item-buttons-watch {
          width: 36px !important;
          height: 36px !important;
          .table-games__data-item-buttons-watch-icon {
            width: 12px !important;
            height: 12px !important;
            background-size: cover;
          }
        }
        .table-games__data-item-buttons-play {
          padding: 12px !important;
          .table-games__data-item-buttons-play-icon {
            width: 12px !important;
            height: 12px !important;
            background-size: 80%;
          }
        }
      }
    }
  }
  .modal-dialog__header-condition {
    width: auto !important;
    font-size: 14px !important;
  }
  .modal-dialog__header-sides-caption {
    margin: 0 10px !important;
  }
  .modal-dialog__footer-number-caption {
    font-size: 12px !important;
  }
}
